.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.list-group {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.buttons > button {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 2px;
}
.wd-modules {
    overflow-y: auto;
    max-height: 55vh;
}
.module-buttons {
    display: flex;
    justify-content: right;
}
.module-options .form-control {
    margin-bottom: 10px;
}
.module-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
