.header-container {
    display: flex;
    align-items: center;
    margin: 0;
}

#nav-bar {
    --bs-breadcrumb-divider: ">";
}

#nav-bar-list {
    margin: 0;
    display: flex;
    align-items: center;
}

.popup-head {
    width: 100%;
    background-color: black;
    height: 80px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
